<html>
  <head>
    <meta charset="UTF-8">
    <title>숙명사이버대학교</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<link rel="stylesheet" href="/public/style.css">-->
    <link rel="stylesheet" href="/public/main.css">
    <link rel="stylesheet" href="/public/profile.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/6510466b6c.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div class="banner">
        <div class="logo">
            <a id="logoA" href="#home" style="text-decoration: none"><div class="logo-text"><img class="logo-img" src="https://image.flaticon.com/icons/png/128/4004/4004113.png"> 숙명사이버대학교</div></div></a>
        <!-- 버튼으로 할것 -->
        <div class="banner-login" id="home">
          {%block login%}
          {%endblock%}
        </div>
      </div>
    </header>
    <div class="left-line"></div>
    <div class="navbar">
      <div class="nav">
        <a id="homeA" href="#home"><div class="icon">
          <img class="icon-img" src="https://image.flaticon.com/icons/png/128/1946/1946488.png">
          <span class="tooltiptext">Home</span></div></a>
        <a id="rankingA" href="#ranking"><div class="icon">
          <img class="icon-img" src="https://image.flaticon.com/icons/png/128/819/819590.png">
          <span class="tooltiptext">Ranking</span></div></a>
        <a id="promiseA" href="#promise"><div class="icon">
          <img class="icon-img" src="https://image.flaticon.com/icons/png/128/4277/4277132.png">
          <span class="tooltiptext">오늘의 다짐</span></div></a>
        <a id="profileA" href="/profile"><div class="icon">
          <img class="icon-img" src="https://image.flaticon.com/icons/png/128/3524/3524752.png">
          <span class="tooltiptext">My Profile</span></div></a>
    </div>
    </div>
      <!--환영메세지랑 반짝효과부분 추가하는 블럭-->
        {%block rooms%}
        {%endblock%}
        {% block content %}
        {% endblock %}
        {% block script %}
        {% endblock %}


      {%block profile%}
      {%endblock%}
  <footer>
  </footer>
</body>
</html>