<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/main.css">
    <script src="https://kit.fontawesome.com/6510466b6c.js" crossorigin="anonymous"></script>
  </head>
    <div class="container">
      {%block login%}
      {%endblock%}
      <div class="container">
        {%block rooms%}
        {%endblock%}
      </div>
    </div>  
    {%block profile%}
    {%endblock%}
    {% block script %}
    {% endblock %}
  <footer>
    <div class="post-box">
      {% block content %}
      {% endblock %}
    </div>
  </footer>
</html>