<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<link rel="stylesheet" href="/public/style.css">-->
    <link rel="stylesheet" href="/public/main.css">
    <script src="https://kit.fontawesome.com/6510466b6c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <header>
      <div class="banner">
        <div class="logo"><div class="logo-text">숙명사이버대학교</div></div>
        <!-- 버튼으로 할것 -->
        <div class="banner-blue1">
          {%block login%}
          {%endblock%}
          <!-- 버튼으로 할것 -->
          {%block profile%}
          {%endblock%}
        </div>
        <div class="banner-blue2"></div>
      </div>
    </header>
      <div class="container">
      <!--환영메세지랑 반짝효과부분 추가하는 블럭-->
        {%block rooms%}
        {%endblock%}
    
        {% block content %}
        {% endblock %}
        
        {% block script %}
        {% endblock %}
      </div>
      <footer>
      </footer>
  <div class="main-foot">
      <div class="background1"></div>
      <div class="background2"></div>
      <div class="background3"></div>
  </div>
</body>
  <footer>
  </footer>
</html>