<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>숙명사이버대학교</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/main.css">
    <script src="https://kit.fontawesome.com/6510466b6c.js" crossorigin="anonymous"></script>
    <script>
        const params=window.location.href; //url
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/face-api.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script defer src="/public/room.js"></script>
    <script defer src="/public/canvas.js"></script>
    <script src="/public/error.js"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function () { 
            $('.attendies-list').draggable(); 
        });
          
    </script>
</head>

<body>
    <div class="container-room">
        <div class="container-left" id="cont-left">
            <div class="box-video"> <!--이름 바꾸기-->
                <div class="video-cont-single" id="vcont">
                    <div class="video-box">
                        <canvas class="video-frame" id="vd1 localCanvas" width="640" height="480">Your browser does not support Canvas</canvas>
                        <!--<video class="video-frame" id="vd1" autoplay playsinline></video>-->
                        <div class="mynick">{{user.nick}}</div>
                        <input id="my-id" type="hidden" value="{{user.id}}">
                        <div class="video-off" id="myvideooff">Video Off</div>
                    </div>
                </div>
    
                <div class="whiteboard-cont"><canvas id="whiteboard" height="1000" width="1000"></canvas>
                    <div class="colors-cont">
                        <div class="black" id="colors" onclick="setColor('#2c2c2c')"></div>
                        <div class="grey" id="colors" onclick="setColor('gray')"></div>
                        <div class="red" id="colors" onclick="setColor('#FF3B30')"></div>
                        <div class="orange" id="colors" onclick="setColor('#FF9500')"></div>
                        <div class="yellow" id="colors" onclick="setColor('#FFCC00')"></div>
                        <div class="green" id="colors" onclick="setColor('#4CD963')"></div>
                        <div class="skyblue" id="colors" onclick="setColor('#5AC8FA')"></div>
                        <div class="blue" id="colors" onclick="setColor('#0579FF')"></div>
                        <div class="purple" id="colors" onclick="setColor('#5856D6')"></div>
                        <div class="eraser" id="colors" onclick="setEraser()"><i class="fas fa-eraser"></i></div>
                        <div class="clearboard" id="colors" onclick="clearBoard()"><i class="fas fa-trash-alt"></i></div>
                    </div>
                </div>
            </div>
            <div class="open-chat" id="open-chat">
                <button class="open-chat-btn">
                    <i class="fas fa-angle-double-left fa-lg"></i>
                </button>
            </div>
        </div>

        <div id="attendies-modal" class="modal" style="display:none;">
            <div class="attendies-list">
                <span class="attendies-close-butt" id="attendies_close">&times;</span>
                <div class="attendies-cont">
                    <div class="attendies-title" id="attendies">참가자들 ({{room.participants_num}})</div>
                    {% for user in users %}
                    <!--사용자 레벨에 따라서 눈송이 사진 붙여넣기-->
                    <div class="user" id="attendies-user" data-nick="{{user.nick}}">
                        {% if user.level>=0 and user.level< 10 %}
                            <img src="/img/level1_noonsong.png">       
                        {% elif user.level>=10 and user.level < 30 %}
                            <img src="/img/level2_noonsong.png">
                        {% elif user.level >= 30 and user.level < 9999 %}
                            <img src="/img/level3_noonsong.png">
                        {% elif user.level >= 9999 %}
                            <img src="/img/master_noonsong.png">
                        {%endif%}
                        <span class="nick" id="attendies-nick" data-nick="{{user.nick}}">
                        {%if user.level_show==0%}
                            <span>
                                <strong>
                                    <span>Lv. {{user.level}} </span><span>&nbsp;&nbsp;{{user.nick}}</span>
                                </strong>
                            </span>
                        {%else%}
                            <span>
                                <strong>
                                    <span>Lv. ? &nbsp;{{user.nick}}</span> 
                                </strong>
                            </span>  
                        {% endif %}
                        </span>
                    </div>
                    {% endfor %}
                </div>                                                               
            </div>
        </div>

        <div class="container-right" id="cont-right">
            <div class="chat-box">
                <div class="chat-close-butt">&times;</div>
                <div class="chat-cont"></div> <!--채팅내용-->
                <div class="send-cont">
                    <div class="send-chat">
                        <textarea 
                            class="chat-input" 
                            data-max-rows="5" 
                            placeholder="참가자들에게 메세지 보내기"
                        ></textarea>
                    </div>
                    <div class="send-btn">
                        <button class="chat-send">
                            <i class="far fa-paper-plane fa-lg"></i>
                        </button>
                    </div>
                </div>
                <div class="chat-empty-alert" id="chat-empty-alert">
                    ⚠️채팅 내용을 입력해주세요
                 </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="cover-utils">
            <div class="utils">
                <div class="novideo" id="util">
                    <i class="fas fa-video"></i>
                </div>
                <div class="copycode tooltip" id="util">
                    <div class="roomcode"></div>
                    <i class="fas fa-external-link-alt"></i>
                    <span class="tooltiptext">방 코드 복사</span>
                </div>
                <div class="filter tooltip" id="util">
                    <i class="fas fa-filter"></i>
                    <span class="tooltiptext">필터</span>
                </div>
                <div class="board-icon tooltip" id="util">
                    <i class="fas fa-chalkboard"></i>
                    <span class="tooltiptext">화이트 보드</span>
                </div>
                <div class="attendies tooltip" id="util-attendies">
                    <i class="fas fa-users"></i>
                    <span class="tooltiptext">참가자</span>
                </div>
                <div class="cutcall tooltip" id="util">
                    <i class="fas fa-phone-slash"></i>
                    <span class="tooltiptext">방 나가기</span>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    var modal = document.getElementById('attendies-modal');
    var utilAttendiesButt = document.getElementById('util-attendies');
    let attendiesVisible=false; 
    //videoResize();
</script>
</html>