
{% extends 'layout.html' %}
{% block login %}
  <div class="login-block">
        {% if user and user.id%}
          {% if user.popup==0 %}
            <div id="nick-modal" class="modal" style="display:block;">
              <div class="modal-content">
                <span class="modal-close" onclick="popupClose();">&times;</span>                                                               
                <p>📌 닉네임은 내 프로필에서 바꿀 수 있습니다.</p>
                <a href="/profile">내 프로필가기</a><br>
                <input type="radio" value=0 onchange="popupRadioChange();"> 다시 보지 않기
              </div>
            </div>
          {% endif %}
          <div class="user-name">{{'안녕하세요! ' + user.nick + '님'}}</div>
          <input id="my-id" type="hidden" value="{{user.id}}">
          <a id="my-profile" href="/profile" class="btn">내 프로필</a>
          <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
          <div display="hidden" class="usernick" data-usernick={{user.nick}}></div>

        {% else %}
         <!-- 어차피 로그인은 구글빼고 다 삭제할거 아닌가? 라벨, 로그인폼, 회원가입 , 카카오톡 다 삭제아고 구글로그인 버튼만 남기면 될듯-->
          <div class="login-group">
            <label id="login-text">LOGIN</label>
          </div>
          <form id="login-form" action="/auth/login" method="post">
              <div class="login-group">
                  <label for="email">이메일</label>
                  <input id="email" type="email" name="email" required autofocus>
              </div>
              <div class="login-group">
                  <label for="password">비밀번호</label>
                  <input id="password" type="password" name="password" required>
              </div>
              <a id="join" href="/join" >회원가입</a>
              <button id="login" type="submit">로그인</button>
              <a id="kakao" href="/auth/kakao">카카오톡</a>
              <form id="login-google" action="/auth/mail" method="post">
                <input type="hidden" name="scope" value="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo#email https://www.googleapis.com/auth/plus.me https://www.googleapis.com/auth/tasks https://www-opensocial.googleusercontent.com/api/people https://www.googleapis.com/auth/plus.login" />
                <a id="google" href="/auth/google">구글</a>
              </form>
          </form>  
        {% endif %}
  </div>
  <script>
    var modal = document.getElementById('nick-modal');
    var span = document.getElementsByClassName("modal-close")[0];                                          
 
    function popupRadioChange(){
      axios.post('/user/popup');
    }
    function popupClose(){
      modal.style.display = "none";
    }
  </script>
{%endblock%}

{%block rooms%}
  <div class="rooms-block">
    <div class="room-container">
      <!-- 1방 = 1room-box slide가 옆으로 움직이면서 컨테이너부분에서 보이는것-->
      <div class="room-slides"> 
        {%for room in rooms%}
          <div class="room-box" data-id="{{room.uuid}}">
            <div style="font-size: 1em; font-weight: 700; margin-top: 5px;">{{room.title}}</div>
            <div style="font-size: 0.9em; margin-top: 3px;">{{room.description}}</div> 
            <div style="font-size: 0.9em; margin-top: 3px">{{room.participants_num}}/{{room.max}}</div>
            <div style="font-size: 0.9em; margin-top: 3px; margin-bottom: 10px">{{'비밀방' if room.password else '공개방'}}</div>
            {% if room.img %}
              <div id="room-thumbnail"><img src="/img/{{room.img}}" style="object-fit: scale-down; margin-top: 10px;" width="85%" height="90%"></div>
            {% endif %}
            {% if user %}
              <div>
                <button  data-password="{{'true' if room.password else 'false'}}"
                data-id="{{room.uuid}}" class="room-enter-btn">입장</button>
              </div>
            {% endif %}
          </div>
        {%endfor%}
        {%if user %}
          <div class="room-box">
            <button class="plus-butt unselectable" onclick="location.href='/room'" >&#43;</button>
          </div>
        {%endif%}
      </div>
    </div>
    {%if user %}
        <button class="createroom-butt unselectable" onclick="location.href='/room'">방 만들기</button>
        <form class="rome-code-form" action="/post" method="post" enctype="multipart/form-data">
            <textarea id="room-code-input" name="roomCode" maxlength="30"></textarea>
            <button class="enter-btn" type="submit">방 입장</button>
        </form> 
    {%endif%}
      <span class="slide-butt slide-left">&#60;</span>
      <span class="slide-butt slide-right">&#62;</span>
  </div>
  <script>
    // ㄴㅓ비 퍼센트 바꿀거임 
    var slides=document.querySelector('.room-slides');
    var slide=document.querySelectorAll('.room-box');
    var currentIndex=0;
    var slideCount=slide.length;
    let leftBtn=document.querySelector('.slide-left');
    let rightBtn=document.querySelector('.slide-right');
    let slidewidth=250; // maybe document.querySelector('.room-box').style.width 로 가져오면 될듯;
    let slideMargin=65;

    slides.style.width = (slidewidth+slideMargin) * (slideCount+1) - slideMargin + 'px';

    function moveSlide(num){
        slides.style.left= -num * 315 + 'px';
        currentIndex=num;
    }

    rightBtn.addEventListener('click', function(){
        if(currentIndex < slideCount - 3){
            moveSlide(currentIndex+1);
        }
        else{
            moveSlide(0);
        }
    });
    leftBtn.addEventListener('click', function(){
        if(currentIndex > 0){
            moveSlide(currentIndex-1);
        }
        else{
            moveSlide(slideCount-3);
        }
    });
  </script>
{%endblock%}

{% block content %}
  <div class="content-block">
    <a name="content-target"></a>
    <div class="promise-block">
      <div class="promise-container">
        <div class="promise-title">오늘의 다짐</div>
        <hr style="border-top: 2px dashed white; border-bottom: none; margin: 1% 1%;"/>
        {% if user %}
          <form id="promise-form" action="/post" method="post" enctype="multipart/form-data">
            <div class="promise-input">
              <textarea id="promise-input" name="content" maxlength="100"></textarea>
            </div>
            <button id="promise-btn" type="submit">다짐🔥</button>
          </form> 
        {% endif %}

        <div class="p-container">
          {% for posting in twits %}
            <div class="promise">
              <input type="hidden" value="{{posting.User.id}}" class="promise-user-id">
              <input type="hidden" value="{{posting.id}}" class="promise-id">
              <div class="promise-top">
                <input type="hidden" value="{{posting.User.id}}" class="promise-user-id">
                <input type="hidden" value="{{posting.id}}" class="promise-id">
                {% if posting.User.level_show == 0 %}
                  <span class="author">{{posting.User.nick}}</span> <span class="author-level">level: {{posting.User.level}}</span>
                {%else%}
                  <span class="author">{{posting.User.nick}}</span> <span class="author-level">level: ?</span>
                {%endif%}
                
                {%set likeid=false%}
                {%set likerNum=0%}
                {%for like in posting.Liker%}
                  {% if like.id===user.id%}
                    {%set likeid=true%}
                  {%endif%}
                  {%set likerNum=likerNum+1 %}
                {%endfor%}
                {%if user and user.id!=posting.User.id and posting and not likeid%}
                  <button class="p-butt promise-like">💙</button>
                {% elif user and user.id!=posting.User.id and posting and likeid%}
                  <button class="p-butt promise-like-cancel">💔</button>
                {% endif %}
                <div class="promise-like-num">{{likerNum}}</div>
                {%if user and posting.User.id==user.id%}
                <button class="p-butt promise-delete" value="{{posting.id}}">🗑</button>
                {%endif%}
                </div>
                <div class="promise-content">{{posting.msg}}</div> 
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- 랭커는 10명으로 제한 // 1,2,3등 class : rank1, rank2, rank3 -->
    <div class="ranking-block"> 
      <div class="ranking-container">
        {%set i=0%}
        <div class="ranker-container">
        {%for ranker in rankers%}
          {% if 3>i %}
            <span class="ranker3 rank{{i+1}}"><img class="ranker-img" src="/img/rank{{i+1}}.png"><br>{{i+1}}위 <br> {{ranker.nick}}</span>
            {%if i==2%} </div>{%endif%}
            {%set i=i+1%}
          {% else %}
            <div class="ranker">{{i+1}}위 : {{ranker.nick}}</div>
            <hr style="border-top: 2px dashed black; border-bottom: none; margin: 0 2%;">
            {%set i=i+1%}
          {% endif %}
        {%endfor%}
      </div>
    </div>

  </div>
    
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script>
    document.querySelectorAll('.promise-delete').forEach(function(tag) {
        tag.addEventListener('click', function() {
          const myId = document.querySelector('#my-id');
          const promiseId = tag.parentNode.querySelector('.promise-id').value;
          if (myId) {
            const userId = tag.parentNode.querySelector('.promise-user-id').value;
            if (userId === myId.value) {
              if (confirm('게시글을 삭제하시겠습니까?')) {
                axios.delete(`/post/${promiseId}`)
                  .then(() => {
                    location.reload();
                  })
                  .catch((err) => {
                    console.error(err);
                  });
              }
            }
          }
       });
      });
   
      document.querySelectorAll('.promise-like').forEach(function(tag) {
        tag.addEventListener('click', function() {
          const promiseId = tag.parentNode.querySelector('.promise-id').value;
              if (confirm('좋아요하시겠습니까?')) {
                axios.post(`/post/${promiseId}/like`)
                  .then(() => {
                    location.reload();
                  })
                  .catch((err) => {
                    console.error(err);
                  });
            }
          });
      });
      document.querySelectorAll('.promise-like-cancel').forEach(function(tag) {
        tag.addEventListener('click', function() {
          const myId = document.querySelector('#my-id');
          const promiseId = tag.parentNode.querySelector('.promise-id').value;
          if (myId) {
            const userId = tag.parentNode.querySelector('.promise-user-id').value;
            if (userId !== myId.value) {
              if (confirm('좋아요 취소하시겠습니까?')) {
                axios.delete(`/post/${promiseId}/like`)
                  .then(() => {
                    location.reload();  
                  })
                  .catch((err) => {
                    console.error(err);
                  });
              }
            }
          }
        });
      });
    </script>
  {% endblock %}

{% block script %}
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/landing.js"></script>
  <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
        if (new URL(location.href).searchParams.get('RoomError')) {
          alert(new URL(location.href).searchParams.get('RoomError'));
        }
        if (new URL(location.href).searchParams.get('PwError')) {
          alert(new URL(location.href).searchParams.get('PwError'));
        }
      }
  </script>
{% endblock %}
