{% extends 'layout.html' %}

{% block login %}
  <div class="login-block">
        {% if user and user.id%}
          {% if user.popup==0 %}
            <div id="nick-modal" class="modal" style="display:block;">
              <div class="modal-content">
                <span class="modal-close" onclick="popupClose();">&times;</span>                                                               
                <p>📌 닉네임은 내 프로필에서 바꿀 수 있습니다.</p>
                <a href="/profile">내 프로필가기</a><br>
                <input type="radio" value=0 onchange="popupRadioChange();"> 다시 보지 않기
              </div>
            </div>
          {% endif %}
          <div class="user-name">{{'안녕하세요! ' + user.nick + '님'}}</div>
          <input id="my-id" type="hidden" value="{{user.id}}">
          <a id="my-profile" href="/profile" class="btn">내 프로필</a>
          <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
          <div display="hidden" class="usernick" data-usernick={{user.nick}}></div>

        {% else %}
         <!-- 어차피 로그인은 구글빼고 다 삭제할거 아닌가? 라벨, 로그인폼, 회원가입 , 카카오톡 다 삭제아고 구글로그인 버튼만 남기면 될듯-->
          <div class="login-group">
            <label id="login-text">LOGIN</label>
          </div>
          <form id="login-form" action="/auth/login" method="post">
              <div class="login-group">
                  <label for="email">이메일</label>
                  <input id="email" type="email" name="email" required autofocus>
              </div>
              <div class="login-group">
                  <label for="password">비밀번호</label>
                  <input id="password" type="password" name="password" required>
              </div>
              <a id="join" href="/join" >회원가입</a>
              <button id="login" type="submit">로그인</button>
              <a id="kakao" href="/auth/kakao">카카오톡</a>
              <form id="login-google" action="/auth/mail" method="post">
                <input type="hidden" name="scope" value="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo#email https://www.googleapis.com/auth/plus.me https://www.googleapis.com/auth/tasks https://www-opensocial.googleusercontent.com/api/people https://www.googleapis.com/auth/plus.login" />
                <a id="google" href="/auth/google">구글</a>
              </form>
          </form>  
        {% endif %}
  </div>
  <script>
    var modal = document.getElementById('nick-modal');
    var span = document.getElementsByClassName("modal-close")[0];                                          
 
    function popupRadioChange(){
      axios.post('/user/popup');
    }
    function popupClose(){
      modal.style.display = "none";
    }
  </script>
{%endblock%}

{%block rooms%}
  <div class="rooms-block">
    
    {%if user %}
      <button id="createroom" class="createroom-butt unselectable" onclick="location.href='/room'" >Create Room</button><br>
    {%endif%}

    <div class="room-container">
      <!-- 1방 = 1room-box -->
      {%for room in rooms%}
        <div class="room-box" data-id="{{room.uuid}}">
          <div>{{room.title}}</div>
          <div>{{room.description}}</div> 
          <div>{{room.participants_num}}/{{room.max}}</div>
          <div>{{'비밀방' if room.password else '공개방'}}</div>
          {% if room.img %}
            <div id="room-thumbnail"><img src="/img/{{room.img}}" width="172px"></div>
          {% endif %}
          {% if user %}
            <div>
              <button  data-password="{{'true' if room.password else 'false'}}"
              data-id="{{room.uuid}}" class="room-enter-btn">입장</button>
            </div>
          {% endif %}
        </div>
      {%endfor%}
    </div>
    <!-- slide & 마지막 박스는 방생성박스로 div calss="room-plus" -->
  </div>
{%endblock%}

{% block content %}
  <div class="content-block">

    <div class="promise-block">
      <div class="promise-title">오늘의 다짐</div>
      <hr/>
      {% if user %}
        <form id="promise-form" action="/post" method="post" enctype="multipart/form-data">
          <div class="input-group">
            <textarea id="promise-input" name="content" maxlength="100"></textarea>
          </div>
          <div>
            <button id="promise-btn" type="submit" class="btn">짹짹</button>
          </div>
        </form> 
      {% endif %}

      <div class="promises">
        {% for twit in twits %}
          <div class="promise">
            <input type="hidden" value="{{twit.User.id}}" class="promise-user-id">
            <input type="hidden" value="{{twit.id}}" class="promise-id">
            <div class="promise-author">
              {% if twit.User.level_show == 0 %}
                {{twit.User.nick}} level: {{twit.User.level}}
              {%else%}
                {{twit.User.nick}} level: ?
              {%endif%}

              <p>{{twit.msg}}</p>
            </div>
            {%if user and twit.User.id==user.id%}
             <button class="promise-delete" value="{{twit.id}}">삭제하기</button>
            {%endif%}

            {%set likeid=false%}
            {%set likerNum=0%}
            {%for like in twit.Liker%}
              {% if like.id===user.id%}
                {%set likeid=true%}
              {%endif%}
              {%set likerNum=likerNum+1 %}
            {%endfor%}
            {%if user and user.id!=twit.User.id and twit and not likeid%}
              <button class="promise-like">좋아요</button>
            {% elif user and user.id!=twit.User.id and twit and likeid%}
              <button class="promise-like-cancel">좋아요취소</button>
            {% endif %}
            <div class="promise-like">{{likerNum}}</div>
          </div>
        {% endfor %}
      </div>

    </div>
    <div class="ranking"> <!-- 랭커는 10명으로 제한 // 1,2,3등 class : rank1, rank2, rank3 -->
      {%set i=0%}
      {%for ranker in rankers%}
        {% if 3>i %}
          <div class="ranker rank{{i+1}}">{{i+1}}위 : {{ranker.nick}}</div>
          {%set i=i+1%}
        {% else %}
          <div class="ranker">{{i+1}}위 : {{ranker.nick}}</div>
          {%set i=i+1%}
        {% endif %}
      {%endfor%}
    </div>
    
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- 랭커는 10명으로 제한 // 1,2,3등 class : rank1, rank2, rank3 -->
    <div class="ranking-block"> 
      {%set i=0%}
      {%for ranker in rankers%}
        {% if 3>i %}
          <div class="ranker rank{{i+1}}">{{i+1}}위 : {{ranker.nick}}</div>
          {%set i=i+1%}
        {% else %}
          <div class="ranker">{{i+1}}위 : {{ranker.nick}}</div>
          {%set i=i+1%}
        {% endif %}
      {%endfor%}
    </div>

  </div>
    
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script>
    document.querySelectorAll('.promise-delete').forEach(function(tag) {
        tag.addEventListener('click', function() {
          const myId = document.querySelector('#my-id');
          const promiseId = tag.parentNode.querySelector('.promise-id').value;
          if (myId) {
            const userId = tag.parentNode.querySelector('.promise-user-id').value;
            if (userId === myId.value) {
              if (confirm('게시글을 삭제하시겠습니까?')) {
                axios.delete(`/post/${promiseId}`)
                  .then(() => {
                    location.reload();
                  })
                  .catch((err) => {
                    console.error(err);
                  });
              }
            }
          }
       });
      });
   
      document.querySelectorAll('.promise-like').forEach(function(tag) {
        tag.addEventListener('click', function() {
          const promiseId = tag.parentNode.querySelector('.promise-id').value;
              if (confirm('좋아요하시겠습니까?')) {
                axios.post(`/post/${promiseId}/like`)
                  .then(() => {
                    location.reload();
                  })
                  .catch((err) => {
                    console.error(err);
                  });
            }
          });
      });
      document.querySelectorAll('.promise-like-cancel').forEach(function(tag) {
        tag.addEventListener('click', function() {
          const myId = document.querySelector('#my-id');
          const promiseId = tag.parentNode.querySelector('.promise-id').value;
          if (myId) {
            const userId = tag.parentNode.querySelector('.promise-user-id').value;
            if (userId !== myId.value) {
              if (confirm('좋아요 취소하시겠습니까?')) {
                axios.delete(`/post/${promiseId}/like`)
                  .then(() => {
                    location.reload();  
                  })
                  .catch((err) => {
                    console.error(err);
                  });
              }
            }
          }
        });
      });
    </script>
  {% endblock %}

{% block script %}
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/landing.js"></script>
  <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
        if (new URL(location.href).searchParams.get('RoomError')) {
          alert(new URL(location.href).searchParams.get('RoomError'));
        }
        if (new URL(location.href).searchParams.get('PwError')) {
          alert(new URL(location.href).searchParams.get('PwError'));
        }
      }
  </script>
{% endblock %}