{% extends 'layout.html' %}
{% block login %}
  <div class="login-block">
        {% if user and user.id%}
          {% if user.popup==0 %}
            <div id="nick-modal" class="modal" style="display:block;">
              <div class="modal-content">    
                <span class="modal-close" onclick="popupClose();">&times;</span>                                                         
                <p><i class="fas fa-info-circle fa-lg" style="color:#1B3C77;"></i>&nbsp;닉네임은 내 프로필에서 바꿀 수 있습니다.</p>
                  <input type="radio" value=0 onchange="popupRadioChange();"> <font style="font-family:'Pretendard-Regular';">다시 보지 않기</font>
                  <a href="/profile" style="text-decoration:none;font-family:'Pretendard-Regular';">내 프로필</a>
              </div>
            </div>
          {% endif %}
          <div class="banner-login">
            <a id="my-profile" href="/profile" class="btn"><img id="welcomeImg" src="/img/welcome_noonsong.png" style="width:38px;height:38px;z-index:2"></a>
            <span>{{'안녕하세요, ' + user.nick + '송!'}}</span>
            <a id="logout" href="/auth/logout" class="btn" style="text-decoration:none;"><button class="logout">Sign Out</button></a>
          </div>  
          <input id="my-id" type="hidden" value="{{user.id}}">
          <div display="hidden" class="usernick" data-usernick={{user.nick}}></div>
        {% else %}   
         <form id="login-form" action="/auth/login" method="post">
              <form id="login-google" action="/auth/mail" method="post">
                <input type="hidden" name="scope" value="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo#email https://www.googleapis.com/auth/plus.me https://www.googleapis.com/auth/tasks https://www-opensocial.googleusercontent.com/api/people https://www.googleapis.com/auth/plus.login" />
               
               <a id="google" style="text-decoration: none" href="/auth/google"><img id="google-img" src="https://image.flaticon.com/icons/png/128/281/281764.png"> Sign In</a>
              </form>
        {% endif %}
  </div>
  <script>
    var modal = document.getElementById('nick-modal');
    var span = document.getElementsByClassName("modal-close")[0];
    function popupRadioChange(){
      axios.post('/user/popup');
    }
    function popupClose(){
      modal.style.display = "none";
    }
  </script>
{%endblock%}

{%block rooms%}
  <div class="rooms-block">
    <div class="room-container">
      <!-- 1방 = 1room-box slide가 옆으로 움직이면서 컨테이너부분에서 보이는것-->
      <div class="room-slides"> 
        {%for room in rooms%}
          <div class="room-box" data-id="{{room.uuid}}">
            <div class="room-box-container">
              <span class="roomLock">
                {% if room.password %}
                  <i class="lock fas fa-lock fa-lg"></i>
                {% else %}
                  <i class="lock fas fa-lock-open fa-lg"></i>
                {%endif%}
              </span>
              <span class="roomTitle">{{room.title}}</span>
              <div class="roomDescription">{%if room.description==''%}<br>{%else%}{{room.description}}{%endif%}</div> 
              {% if room.img %}
                <div id="room-thumbnail"><img src="/img/{{room.img}}" style="width:190px; height:140px;"></div>
              {% endif %}
              <div class="roomParticipant">{{room.participants_num}}/{{room.max}}</div>
              {% if user %}
                  <button  data-password="{{'true' if room.password else 'false'}}"
                  data-id="{{room.uuid}}" class="room-enter-btn">입&nbsp;&nbsp;장</button>
              {% endif %}
            </div>
          </div>
        {%endfor%}
        {%if user %}
          <div class="room-box" id="make-room-slide">
            <button class="plus-butt" onclick="location.href='/room'">&#43;</button>
          </div>
        {%endif%}
      </div>
    </div>
    {%if user %}
      <div class="room-btn-container">
        <form class="room-code-form" action="javascript:goRoomFunction()" method="post" enctype="multipart/form-data" >
            <input type="text" id="room-code-input" placeholder="방 코드를 입력하세요" >
            <button class="enter-btn" type="submit">방 입장</button>
        </form> 
        <button class="createroom-butt" onclick="location.href='/room'"><img src="/img/add.png" style="width:35px; height:35px;"/></button>
      </div>
    {%endif%}
    <span class="slide-butt slide-left"><img src="/img/back.png" width="50px" height="50px"></span>
    <span class="slide-butt slide-right"><img src="/img/next.png" width="50px" height="50px"></span>
  </div>

  <script>
    var slides=document.querySelector('.room-slides');
    var slide=document.querySelectorAll('.room-box');
    var currentIndex=0;
    var slideCount=slide.length;
    let leftSlide=document.querySelector('.slide-left');
    let rightSlide=document.querySelector('.slide-right');
    let slidewidth=220; 
    let slideMargin=80;

    slides.style.width = (slidewidth+slideMargin) * (slideCount+1) - slideMargin + 'px';

    function moveSlide(num){
        slides.style.left= -num * 300 + 'px';
        currentIndex=num;
    }

    leftSlide.addEventListener('click', function(){
        if(currentIndex > 0){
            moveSlide(currentIndex-1);
        }
        else{
            moveSlide(slideCount-3);
        }
    });
    rightSlide.addEventListener('click', function(){
        if(currentIndex < slideCount - 3){
            moveSlide(currentIndex+1);
        }
        else{
            moveSlide(0);
        }
    });
    
    function goRoomFunction(){
      var rinput = document.getElementById("room-code-input");
      if(rinput.value.length<1 || /\s/g.test(rinput.value) ){  /* 공백, 탭문자, 엔터, 값입력X 는 안되도록 함*/
        rinput.style.background="#e9f2ffc2"
        rinput.placeholder="방코드를 공백 없이 제대로 입력해 주세요"
        rinput.value=""
      }
      else{
        var addr="http://localhost:8001/library/";
        var roomUuid = document.getElementById("room-code-input").value;
        window.location.href=addr.concat(roomUuid);
      }
    }
   
  </script>
{%endblock%}

{% block content %}
    <!-- 랭커는 10명으로 제한 // 1,2,3등 class : rank1, rank2, rank3 -->
    <div class="ranking-block" id="ranking"> 
      <div class="ranking-title">Ranking <div class="ranking-info">?<div class="tooltiptext">Lv를 공개한 유저에 한해 산출한 랭킹입니다.</div></div>
    </div>
        {%set i=0%}
        <div class="ranking-left">
        {%for ranker in rankers%}
          {% if 3>i %}
            <div class="ranker"><img src="/img/rank{{i+1}}.png"/>위&nbsp;: &nbsp;{{ranker.nick}} &nbsp;&nbsp;&nbsp; Lv.&nbsp;{{ranker.level}}</div>
            <hr style="border-top: 2px dashed black; border-bottom: none; margin: 0 2%;">
            {%set i=i+1%}
          {% else %}
            <div class="rank"><img src="/img/rank{{i+1}}.png"/>위 :&nbsp;{{ranker.nick}} &nbsp;&nbsp;&nbsp; Lv.&nbsp;{{ranker.level}}</div>
            <hr style="border-top: 2px dashed black; border-bottom: none; margin: 0 2%;">
            {%if i==4%}</div><div class="ranking-right"> {%endif%}
            {%set i=i+1%}
          {% endif %}
        {%endfor%}
        </div>
    </div>
    <div class="promise-block" id="promise">
      <div class="promise-title-container">
        <div class="promise-title">오늘의 다짐
        <div class="promise-info">?
        <div class="tooltiptext">오늘의 목표나 스터디할 시간을 적어 참여자를 모으세요!</div>
        </div>
      </div>
          {% if user %}  
            <button id="write" onclick="writePromise();">다짐📌</button>         
            <div id="write-modal" style="display:block;visibility:hidden;">
              <div class="modal-overlay"></div>
                <div class="modal_bar">
                    <div class="modal_buttons" onclick="writeClose();">
                        <div class="button red"></div><div class="button yellow"></div><div class="button green"></div>
                    </div>
                </div>
                <div class="contents">
                  <form id="promise-form" action="/post" method="post" onsubmit="return submitCheck(this);">
                    <input type="text" id="promise-input" name="content" placeholder="다짐을 입력하세요" minlength="1" maxlength="50">
                    <button id="promise-btn" type="submit">다짐🔥</button>
                </form>
                </div>
              
            </div>
  
          {%endif%}  
      </div>
      <span class="promise-slide-btn pslide-left">
        <i class="fas fa-chevron-circle-left fa-2x"></i>
      </span>
      <span class="promise-slide-btn pslide-right">
        <i class="fas fa-chevron-circle-right fa-2x"></i>
      </span>
      <div class="promise-container">

        <div class="p-slides">
          {% for posting in twits %}
            <div class="promise">
              <div class="pContainer">
                <input type="hidden" value="{{posting.User.id}}" class="promise-user-id">
                <input type="hidden" value="{{posting.id}}" class="promise-id">
                <div class="promise-content">{{posting.msg}}</div> 
                <div class="promise-bottom">
                  <input type="hidden" value="{{posting.User.id}}" class="promise-user-id">
                  <input type="hidden" value="{{posting.id}}" class="promise-id">
                  {% if posting.User.level_show == 0 %}
                    <span class="author">{{posting.User.nick}}</span> <span class="author-level">Lv. {{posting.User.level}}</span>
                  {%else%}
                    <span class="author">{{posting.User.nick}}</span> <span class="author-level">Lv. ?</span>
                  {%endif%}
                  
                  {%set likeid=false%}
                  {%set likerNum=0%}
                  {%for like in posting.Liker%}
                    {% if like.id===user.id%}
                      {%set likeid=true%}
                    {%endif%}
                    {%set likerNum=likerNum+1 %}
                  {%endfor%}
                  {%if user and posting and not likeid%}
                    <button class="p-butt promise-like"><i class="far fa-heart" style="color:red;"></i></button>
                  {% elif user and posting and likeid%}
                    <button class="p-butt promise-like-cancel"><i class="fas fa-heart" style="color:red"></i></button>
                  {% endif %}
                  <div class="promise-like-num">{{likerNum}}</div>
                  {%if user and posting.User.id==user.id%}
                  <button class="p-butt promise-delete" value="{{posting.id}}"><i class="fas fa-trash-alt"></i></button>
                  {%endif%}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
<script>
  var pslides=document.querySelector('.p-slides');
  var promise=document.querySelectorAll('.promise');
  var pcurrentIndex=0;
  var pslideCount=promise.length;
  let PleftBtn=document.querySelector('.pslide-left');
  let PrightBtn=document.querySelector('.pslide-right');
  let pslidewidth=220; // maybe document.querySelector('.room-box').style.width 로 가져오면 될듯;
  let pslideMargin=40;

  slides.style.width = (pslidewidth+pslideMargin) * (pslideCount+1) - pslideMargin + 'px';

  function pmoveSlide(num){
      pslides.style.left= -num * 260 + 'px';
      pcurrentIndex=num;
  }
  PleftBtn.addEventListener('click', function(){
      if(pcurrentIndex > 0){
          pmoveSlide(pcurrentIndex-1);
      }
      else{
          pmoveSlide(pslideCount-4);
      }
  });
  PrightBtn.addEventListener('click', function(){
      if(pcurrentIndex < pslideCount - 4){
          pmoveSlide(pcurrentIndex+1);
      }
      else{
          pmoveSlide(0);
      }
  });

  pColor=["#E39293","#EEC9A4","#C2D0D2","#98BAB7","#6E848C"]
  function boxColor(){
    let i;
    for(i=0;i<promise.length;i++){
      promise[i].style.boxShadow="-7px 0px 0px" + pColor[i%5]
    }
  }

  window.addEventListener("load", boxColor());

  let pmodal = document.querySelector('.modal-overlay');
  pmodal.addEventListener('click', (e) => {
    let eTarget=e.target
    if(eTarget.classList.contains("modal-overlay")) {
        write_modal.style.visibility='hidden';
    }
  })

  function submitCheck(i) {
    var cont = document.getElementById("promise-input");
    if(cont.value.length < 1 || cont.value== " ") {
        cont.placeholder="다짐을 한 글자 이상 입력하세요"
        cont.value=""
        cont.style.background="#e9f2ffc2"
        return false;
    }
  }  


</script>
    
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script>
  var write=document.getElementById('write');                               
  var write_modal = document.getElementById('write-modal');
  function writePromise(){
    write_modal.style.visibility='visible';
  }
  function writeClose(){
    write_modal.style.visibility='hidden';
  }
    document.querySelectorAll('.promise-delete').forEach(function(tag) {
        tag.addEventListener('click', function() {
          const myId = document.querySelector('#my-id');
          const promiseId = tag.parentNode.querySelector('.promise-id').value;
          if (myId) {
            const userId = tag.parentNode.querySelector('.promise-user-id').value;
            if (userId === myId.value) {
              if (confirm('게시글을 삭제하시겠습니까?')) {
                axios.delete(`/post/${promiseId}`)
                  .then(() => {
                    location.reload();
                  })
                  .catch((err) => {
                    console.error(err);
                  });
              }
            }
          }
       });
      });
   
      document.querySelectorAll('.promise-like').forEach(function(tag) {
        tag.addEventListener('click', function() {
          const promiseId = tag.parentNode.querySelector('.promise-id').value;
              if (confirm('좋아요하시겠습니까?')) {
                axios.post(`/post/${promiseId}/like`)
                  .then(() => {
                    location.reload();
                  })
                  .catch((err) => {
                    console.error(err);
                  });
            }
          });
      });
      document.querySelectorAll('.promise-like-cancel').forEach(function(tag) {
        tag.addEventListener('click', function() {
          const myId = document.querySelector('#my-id');
          const promiseId = tag.parentNode.querySelector('.promise-id').value;
          if (myId) {
            const userId = tag.parentNode.querySelector('.promise-user-id').value;
            if (userId !== myId.value) {
              if (confirm('좋아요 취소하시겠습니까?')) {
                axios.delete(`/post/${promiseId}/like`)
                  .then(() => {
                    location.reload();  
                  })
                  .catch((err) => {
                    console.error(err);
                  });
              }
            }
          }
        });
      });
    </script>
  {% endblock %}

{% block script %}
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/landing.js"></script>
  <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
        if (new URL(location.href).searchParams.get('RoomError')) {
          alert(new URL(location.href).searchParams.get('RoomError'));
        }
        if (new URL(location.href).searchParams.get('PwError')) {
          alert(new URL(location.href).searchParams.get('PwError'));
        }
      }
  </script>
{% endblock %}