{% extends 'layout.html' %}

{% block profile %}
 <div class='upper-profile'>
        <div id="profile-form"> 
            <form id="update-profile" action="/user/fix" method="post">   
                <div>닉네임 : <input type="text" id="edit-nick" name="nick" value="{{user.nick}}"></div>
                <div class="profile-level">레벨 : {{user.level}}</div>
                <div class="profile-level">
                    {% if user.level_show == 0 %} 
                    <input type="radio" name="chk" value=0 checked="checked">공개 
                    <input type="radio" name="chk" value=1>비공개
                    {% else %}
                    <input type="radio" name="chk" value=0 >공개
                    <input type="radio" name="chk" value=1 checked="checked" >비공개
                    {% endif %}
                </div>
                <button id="profile-edit" value="수정" type="submit">수정</button>
            </form>        
        </div>
        <div id="profile-img">
            <img src="/img/zoom.jpg">
        </div>
</div>
<div class="lower-profile">
    <div id="next-level">
        <div id="level-bar">
        </div>
        <div id="level-text">
            <div>총 공부 시간: 
            {% set total_time = user.total_time %}
            {% set H=total_time//3600 %}
            {{H}}시간
            {% set total_time=total_time-H*3600%}
            {% set total_time = total_time*10/6 %}
            {% set M=total_time//100%}
            {{M}}분
            {% set total_time = total_time-M*100 %}
            {% set S=total_time*0.6%}
            {{S}}초</div>

            <div>다음 level까지 
            {%set leftM=60-M%}
            {{leftM}}분
            필요합니다.</div>

        </div>
    </div>
    <div id="my-posts">
        <h3>나의 다짐</h3>
            {% for promise in promises %}
                {%set likerNum=0%}
                {%for like in promise.Liker%}
                    {%set likerNum=likerNum+1 %}
                {%endfor%}
                <div class="my-post">
                    <div class="post-cont">{{promise.msg}}</div>
                    <div class="post-like">{{likerNum}}명이 좋아합니다.</div>
                </div>
            {% endfor %}    
    </div>
</div>
{% endblock %}
{% block script %}
  <script>
  
  </script>
{% endblock %}