{% extends 'layout.html' %}

{% block content %}
    <div class=profile>
        <div> 
        <form id="update-profile" action="/user/fix" method="post">   
            <div class="input-nick">
                닉네임 : <input type="text" id="edit-nick" name="nick" value="{{user.nick}}"> 
            </div>
            <div class="level">
                레벨 : {{user.level}}
            </div>
            <div class="input-show-level">
                {% if user.level_show == 0 %} 
                <input type="radio" name="chk" value=0 checked="checked">공개 
                <input type="radio" name="chk" value=1>비공개
                {% else %}
                <input type="radio" name="chk" value=0 >공개
                <input type="radio" name="chk" value=1 checked="checked" >비공개
                {% endif %}
            </div>
            <div class="show-promise">
              나의 다짐 --
                {% for promise in promises %}
                    <div>{{promise.msg}}</div>
                {% endfor %}    
            </div>
            <button id="edit-nick" value="수정" type="submit">수정</button>
            <button type="button" class="OK" id="btn" onclick="document.location.href='/'">확인</button>
        </form>
        
        </div>
{% endblock %}
{% block script %}
  <script>
  
  </script>
{% endblock %}