* { box-sizing: border-box; font-family: 'EliceDigitalBaeum_Bold';}
html {height: 100%;}
/*
@media screen and (min-width: 800px) {
  .container { width: 800px; margin: 0 auto; }
}
@media screen and (min-width: 800px) { .promise-block { width: 500px; } }
*/
@font-face {
  font-family: 'EliceDigitalBaeum_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EliceDigitalBaeum_Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'twaysky';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24Dangdanghae';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BMDOHYEON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/*******************************************layout 내용********************************************/
.left-line{
  background-color:#C9D9E9;
  width: 30px;
  height: 1500px;
  top:0;
  left:0;
  right: 90%;
  position: absolute;
}
.banner{
  display: flex;
  width: 100%;
  height: 15%;
  position: relative;
}
.banner .logo{
  flex-grow: 1;
  font-size: 200%;
  font-weight: bold;
  margin-left:4%;
}
.logo-img{
  width: 30px;
  height:30px;
}
.logo-text{
  margin-top: 3%;
  margin-bottom: 3%;
  padding-top: 1%;
  padding-bottom: 5%;
  text-align: left;
  color:#1B3C77;
  font-family: 'BMDOHYEON';
  font-size: 110%;
}
.banner .banner-login{
  flex-grow:1;
  text-align: left;
  font-size: 100%;
  font-weight: bold;
  display: flex;
}

.navbar{
  width: 5%;
  height:1350px;
  top:15%;
  left:30px;
  right: 90%;
  position: absolute;
  z-index: 2;
}
.nav{
  position: fixed;
}

.icon{
  margin:6%;
  position: relative;
  right:2px;
  margin-left:40%;
  padding-bottom:100%;
  margin-bottom:200%;
  width: 40px;
  height: 40px;
}

.icon-img{
  left:0px;
  margin: 10%;
  width: 30px;
  height: 30px;
  position:absolute;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #808080;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 7%;
  margin-left: -50px;
  opacity: 0;
  font-size: 14px;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #808080 transparent transparent transparent;
}

.icon:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
}

.icon:hover{
  border-radius: 5px;
  background-color:#C9D9E9;
  margin:6%;
  position: relative;
  margin-left:40%;
  padding-bottom:100%;
  margin-bottom:200%;
  width: 40px;
  height: 40px;
}
/* login block */
.login-block{ 
  width: 60%;
  margin-left: 50%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: right;
  display: flex;
}
#google{
  position:relative;
  background-color: white;
  width: 70px;
  height: 50px;
  font-size: 1em;
  font-weight: 700;
  border-radius: 6px;
  border: 2px solid #1B3C77;
  cursor: pointer;
  box-shadow: 2px 2px 1px #c2c2c2;
  color:#1B3C77;
  text-align: left;
  padding:10px;
  padding-left:30px;
  padding-right:60px;
}
#google-img{
  width:18px;
  height:18px;
  margin-right: 20px;
}
#google:hover{cursor:pointer;color:white; background-color: #1B3C77;box-shadow: 2px 2px 1px #c2c2c2, 0 -80px 0 0 rgba(0,0,0,0.025) inset;}
.banner-login>span{ 
  flex-grow: 0.5;
  margin-top: 2%;
}
.logout{
  flex-grow: 0.5;
  background-color: white;
  width: 100px;
  height: 30px;
  font-size: 1em;
  font-weight: 700;
  border-radius: 6px;
  border: 2px solid rgb(83, 105, 177);
  cursor: pointer;
  box-shadow: 2px 2px 1px #c2c2c2;
  color:#1B3C77;
  margin-bottom: 3px;
}
.logout:hover{cursor:pointer;color:white; background-color: #1b3c77;box-shadow: 2px 2px 1px #c2c2c2, 0 -80px 0 0 rgba(0,0,0,0.025) inset;}
/* nick-modal 안의 내용 */
#nick-modal{
  position: absolute;
  z-index: 2;
  right:40%;
  top: 5px;
  height: 20px;
}
.modal-content {
  background-color: #fefefe;
  margin: 2% 2%;
  width: 120%;
  padding: 10px;
  border: 1px solid lightgray;    
  box-shadow: 5px 5px 10px 0px #aeaec07e , 0px 3px 10px 0px #ffffff;
}
.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 8px;
}
.modal-content>input{
  margin-right:0.3px;
  width: 0.9em;
  height:0.9em;
  font-size: 11pt;
  margin-top: 5%;
  margin-left: 3%;
}
.modal-content>a{
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 5px;
  font-size: 11pt;
  box-shadow: 2px 2px 1px #c2c2c2;
  left: 40%;
  margin-left: 45%;
}
.modal-content>a:hover{
  cursor:pointer;
  color:white; 
  background-color: #4e2286;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body { 
  margin:0;
  padding: 0;
  display: relative;
  font-family: 'EliceDigitalBaeum_Bold';
}
/****************************************layout끝************************************************/
button{cursor:pointer;}
.container { 
  position: absolute;
  margin:0;
  left:6%;
  width: 94%;
  height: 1350px;
  background:rgb(250, 250, 250);
}
input{
  margin: 1% 1% 2% 1%;
  text-align: center;
}
input::placeholder{
  color:rgb(187, 187, 187);
  text-align: center;
}
input[type="text"]:hover{
  background-color: rgb(209, 225, 255);
  color:white; 
}
input[type="text"]:hover::placeholder{
  color:white;
}
input[type="text"]:focus{
  background-color: rgb(209, 225, 255);
  color:white; 
  border-style: hidden hidden solid hidden;
  border: 2px #767e87;
  border-style: hidden hidden solid hidden;
}
input[type="text"]:focus::placeholder{
  color:white;
}
/* =================== rooms block을 위한곳 =================== */
.rooms-block{
  position: absolute;
  top: 50px;
  width: 90%;
  height: 500px;
  left: 50%;
  transform: translateX(-50%);
}
.room-container{
  position:absolute;
  width: 840px;
  height: 360px;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden; 
}
.room-slides{
  display: flex;
  position: absolute;
  left: 0; 
  top: 0;
  transition: left 0.5s ease-out;
}
.room-box{ 
  width: 220px;
  height: 350px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 4px #c2c2c2;
}
.room-box:not(:last-child){ margin-right: 80px; } /* box 당 간격 */
.room-box-container{
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.lock{
  color:#a5a5a5;
}
.roomLock{
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 1em;
}
.roomTitle{
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 40px;
  width:160px;
  font-size: 1.1em;
  overflow:hidden; 
  text-overflow:ellipsis;
  white-space:nowrap;
}
.roomDescription{
  position: absolute;
  top: 70px;
  left: 15px;
  font-size: 0.9em;
  height:50px;
  width: 200px;
  margin: auto;
  color: rgb(108, 108, 108);
  word-break:break-all;
}
.roomParticipant{
  position: absolute;
  font-size: 1em;
  top: 245px;
  left: 10px;
  color: white;
  font-size: 0.8em;
  text-shadow: 2px 2px 2px rgb(108, 110, 114);
}
.slide-left:hover{cursor: pointer;transform: scale(1,1.2); top:190px}
.slide-right:hover{cursor: pointer;transform: scale(1,1.2); top:190px}

.slide-butt{
  position:absolute;
  text-align: center;
  background: none;
  padding: 5px;
  top: 220px;
  transform: translateY(-50%);
}

.fa-chevron-circle-left,
.fa-chevron-circle-right{
  color: red;
}
.slide-left{ left: 0%; }
.slide-right{ right: 0%; }
#room-thumbnail{ 
  position: absolute;
  display: block;
  object-fit: scale-down;
  top: 130px;
  width: 190px;
} 
.room-enter-btn{
  position: absolute;
  background: #9ab1c6;
  color: white;
  width: 70px;
  height: 40px;
  top: 255px;
  right: 0%;
  /* box-shadow: spread #1B3C77; */
  border: none;
  border-radius: 4px 0px 0px 4px;
  box-shadow: 5px 5px 10px 0px #aeaec07e , 0px 3px 10px 0px #ffffff;
  font-size: 1em;
  font-family:'EliceDigitalBaeum_Bold';
}
.room-enter-btn:hover{
  transition-property: background-color, color;
  transition-duration: 0.5s;
  background:white;
  color: #9ab1c6;
}
.plus-butt{
  position: relative;
  width: 100px;
  height: 100px;
  margin: 20%;
  margin-left:28%;
  top: 115px;
  font-size: 55px;
  font-weight:bold;
  border-radius: 5px;
  color: rgba(221, 221, 221, 0.6);
  background: none;
  border: 2mm solid rgba(221, 221, 221, 0.6);
}
.plus-butt:hover{
  transform: scale(1.2);
}
.room-btn-container{
  position: absolute;
  top: 420px;
  height: 50px;
  width: 840px;
  left: 50%;
  transform: translateX(-50%);
}
.createroom-butt{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  right: 0%;
  transform: translateX(-50%);
  border:none;
  font-size: 40px;
  background: whitesmoke;
  box-shadow: -10px -10px 30px 0px #ffffff, 3px 3px 20px 0px #aeaec07e ;
  text-shadow: 2px -2px rgba(0,0,0,0.5);
 }
 .createroom-butt:hover{
   box-shadow: -10px -10px 10px 0px #ffffff70, 10px 10px 10px 0px #aeaec020 ;
 }
.room-code-form{
  position: absolute;
  width: 600px;
  height: 50px;
  left: 0%;
  background:none;
  border: none;
  font-family:'EliceDigitalBaeum_Bold';
}
#room-code-input{
  position: absolute;
  left: 0%;
  width: 65%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
  border-radius: 25px 0% 0% 25px ;
  font-family:'EliceDigitalBaeum_Bold';
  box-shadow: 5px 5px 10px 0px #aeaec07e , 0px 3px 10px 0px #ffffff;
}
.enter-btn{
  border-radius: 0px 25px 25px 0px;
  position: absolute;
  width: 35%;
  right: 0%;
  top: 0%;
  height: 100%;
  font-size: 1em;
  background-color: #1B3C77;
  color:white;
  font-family:'EliceDigitalBaeum_Bold';
  box-shadow: 5px 5px 10px 0px #aeaec07e , 0px 3px 10px 0px #ffffff;
}
.enter-btn:hover{
  transition-property: color, box-shadow;
  transition-duration: 0.5s;
  color: white;
  box-shadow: 5px 5px 10px 0px #282829a8 inset
}
.make_room{
  margin: 2%;
  padding: 2%;
  height:100%;
}
.make_room>h3{
  font-size: 24pt;
  color: #1B3C77;
  font-family: 'EliceDigitalBaeum_Bold';
  margin: 0 0 2% 0;
}

.make_room_content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: 2%;
  font-family: 'EliceDigitalBaeum_Regular';
}
.make_room_title {
  margin-top: 2%;
  grid-column: 1/3;
	grid-row: 1/2;
}
.make_room_title>input{
  width:50%;
}
.make_room_thumbnail{
  margin-top: 2%;
  grid-column: 3/4;
	grid-row: 1/4;
}
.make_room_max {
  margin-top: 2%;
  grid-column: 1/2;
	grid-row: 2/3;
}
.make_room_pw {
  margin-top: 2%;
  grid-column: 2/3;
	grid-row: 2/3;
}
.make_room_out{
  margin-top: 2%;
  grid-column: 1/3;
	grid-row: 3/4;
}
.make_room_info{
  grid-column: 1/4;
	grid-row: 4/5;
}
.make_room_btn{
  margin-top: 2%;
  grid-column: 1/4;
	grid-row:5/6;
}
.thumb-button{
  width:10%;
  height:15%;
  margin-left:40%
}

.newroom {
  border:1px solid #4e7cd1;
  border-style: hidden hidden solid hidden;
  border-radius: 0px;
  font-size: 16pt;
  margin-top: 2%;
  font-family: 'EliceDigitalBaeum_Regular';
  background-color: rgb(250, 250, 250);
}
.newroom:focus{
  border-radius: 0px;
}
.make_room_title .newroom {
  position:relative; 
  left: 0%; 
  width: 95%;
  font-weight: bold;
}

.make_room_max .newroom {
  position:relative; 
  left: 0%; 
  width: 90%;
}
.make_room_pw .newroom {
  position:relative; 
  left: 0%; 
  width: 90%;
}
.make_room_info .description{
  position: relative;
  width: 90%;
  height: 24pt;
  left: 0%;
  font-size: 16pt;
  font-weight: normal;
}
.newroom:focus {
  outline: none;
}
.make_room_out .label{
  margin-right: 15%;
  font-size: 1.1em;
}
.make-room-thumbnail-container{
  position:relative;
  width: 100%;
  height: 100%;
  top:0px;
  left: 0px;
}
.make-room-thumbnail-img{
  position: absolute;
  width: 80%;
  left:10%;
  top: 5%;
  height: 70%;
  object-fit:scale-down;
}
.label-thumbButt{
  position: absolute;
  left:30%;
  width:40%;
  bottom: 5%;
  font-size: 1.1em;
  top: 80%;
  padding: 10px 5px 10px 5px;
}
.label label{
  margin-top: 2px;
  padding: 3px;
  padding-left: 10px;
  padding-right:10px;
  background-color: white;
  border:2px solid #8d8d8d;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 1px #c2c2c2;
  font-size: 1em;
}
.label label:hover{
  border:1px solid white;
  box-shadow: 2px 2px 5px 0px #8d8d8d inset
}
.label:active{
  transform: scale(1,0.97);
}
.make_room_out input {
  margin-left: 10%;
}
.make_room_out span {
  font-size:16pt;
}
.make_room_btn button{
  position: absolute;
  right: 5%;
  background-color: #1B3C77;
  width: 100px;
  height: 30px;
  font-size: 1em;
  font-weight: 700;
  border-radius: 6px;
  border: 2px solid rgb(83, 105, 177);
  cursor: pointer;
  color:white;
  box-shadow: 2px 2px 1px #c2c2c2;
}
.make_room_btn button:hover{cursor:pointer;color:#1B3C77; background-color:white;box-shadow: 2px 2px 1px #c2c2c2, 0 -80px 0 0 rgba(0,0,0,0.025) inset;}

/*<style="font-size:16pt;font-family:'EliceDigitalBaeum_Regular'">*/
/* =================== ranking을 위한 곳 =================== */ 

.ranking-block{
  position: absolute;
  top: 600px;
  height: 340px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}
.ranking-title{
  font-size: 2em;
  margin-left: 30px;
  margin-top: 10px;
  position:absolute;
  display: flex;
}
.ranking-left{
  position:absolute;
  top: 65px;
  width: 35%;
  left: 8%;
  flex-direction: column;
  margin: 10px 0px 10px 0px;
}
.ranking-right{
  position:absolute;
  top: 65px;
  width: 35%;
  right: 8%;
  flex-direction: column;
  margin: 10px 0px 10px 0px;
}  
.ranking-right .rank{
  padding: 4px 0px 0px 0px;
}
.ranker img{
  width: 28px;
  height: 28px;
  margin: 0px 0px -5px -5px;
}
.rank img{
  width: 20px;
  height: 20px;
  margin: 0px 5px -3px -3px;
}
.rank{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.ranker{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.ranking-info{
  position:relative;
  margin-left:14%;
  margin-top:10px;
  padding-top:1px;
  padding-bottom:1px;
  padding-right:6px;
  padding-left:6px;
  font-size: 0.4em;
  text-align: center;
  width: 2em;
  height: 1.5em;
  background-color: rgb(199, 199, 199);
  border-radius: 5px;
  align-self:center;
  cursor: pointer;
  color:white;
}
.ranking-info:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
  width: 300px;
  left:-90px;
  bottom:30px;
  right:300px;
  position:absolute;
  font-size: 15px;
  font-family: 'Pretendard-Regular';
}
.promise-info:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
  width: 400px;
  left:-140px;
  bottom:30px;
  right:300px;
  font-size: 15px;
  font-family: 'Pretendard-Regular';
}

/* =================== promise를 위한 곳 =================== */ 
.promise-block {
  position: absolute;
  top: 1000px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
}
.promise-title-container{
  width: 100%;
  position: absolute;
  top: 10px;
  display: flex;
  padding: 5px 30px 5px 30px;
  margin-top: 10px;
}
.promise-title{
  color: black;
  text-align:left;
  font-size: 1.8em;
  margin-right: 20px;
  display: flex;
  width:30%;
}
.promise-info{
  font-size: 0.8em;
  position:relative;
  margin-left:8%;
  margin-top:10px;
  padding-bottom:1px;
  font-size: 0.5em;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(199, 199, 199);
  border-radius: 5px;
  align-self:center;
  cursor: pointer;
  color:white;
}

#write-modal{
  z-index: 1;
  position:absolute;
  width: 350px;
  height: 130px;
  right: 40px;
  top: -60px;
}
.modal-overlay{
  position: fixed;
  top: -750px;
  left: -200px;
  width: 140vw;
  height: 120vh;
  margin:0px;
}
#promise-form {
  position: absolute;
  top: 10px;
  width: 90%;
  display: flex;
  left: 5%;
  background: none;
}
.modal_bar{
  z-index: 1;
  position: absolute;
  width:100%;
  height: 30px;
  background-color:rgb(233, 233, 233);
  border-radius: 10px 10px 0px 0px;
  top: 0px;
  left: 0px;
}
.contents{
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  position: absolute;
  top: 30px;
  left: 0px;
  border: 5px solid rgb(233, 233, 233); /*1pt는 어떤지*/
  padding: 10px;
  padding-right: 8px;
  text-align: center;
}
.modal_buttons { 
width: 66px;
height: 10px;
opacity: 1;
position: absolute;
top: 10px;
right: 5px;
}
.button{
  width: 12px;
  height: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  border-radius: 50%;
}
.promise-green {
  left: 40px;
  background: rgb(46, 120, 199);
}

.promise-yellow {
  left: 20px;
  background: rgb(145, 185, 242); 
}
.promise-red {
  left: 0px;
  background: rgb(189, 221, 254);
}
#promise-input {
  width: 80%; 
  height: 40px;
  font-family:'EliceDigitalBaeum_Bold';
  margin: 10px 5px;
  border: 0.3px solid rgb(193, 191, 191);
  box-shadow: 3px 3px 3px rgb(193, 191, 191);
  
}
#promise-btn { 
  width:20%; 
  height:40px ; 
  font-family:'EliceDigitalBaeum_Bold';
  color: #000b5e; 
  background:#C9D9E9; 
  border:none; 
  border-radius: 10px;
  font-weight: 600;
  margin: 10px 5px;
  padding: 5px 1px;
}
#promise-btn:hover{
  transition-property: box-shadow;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 10px rgba(106, 106, 106, 0.5) inset;
} 

.promise-slide-btn{
  position: absolute;
  top: 150px;
  padding: 2px 7px 2px 7px;
}
.promise-slide-btn{cursor: pointer;}
.pslide-left{left: -5%;}
.pslide-right{right: -4%;}

.promise-container{
  position:absolute;
  width: 1020px; /*920+10+10*/
  height: 150px;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  overflow: hidden; 
}
.p-slides{
  display: flex;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  left: 0; 
  top: 0;
  transition: left 0.5s ease-out;
}
.promise {
  width: 220px;
  height: 120px;
  background: white;
  border-radius: 10px;
  animation: hue-rotate 10s linear infinite;
}
.fa-chevron-circle-left{ color: #767e87;}
.fa-chevron-circle-right{ color: #767e87;}
.fa-chevron-circle-left:hover{ color: #010f3e;}
.fa-chevron-circle-right:hover{ color: #010f3e;}

.pContainer{
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.promise:not(:last-child){ margin-right: 40px; }
.promise-content{
  position: absolute;
  top: 10px;
  left: 5%;
  width: 90%;
  height: 85px;
  font-size: 0.9em;
  word-break:break-all;
}
.promise-bottom{  /* 이름, 좋아요관련 버튼, 삭제 등등*/
  position: absolute;
  top: 90px;
  left: 5%;
  width:90%;
}
/* 글자크기 넘어가면 어케할지 생각하기 */
.author{ position:absolute; left: 0%; width:100px; font-size: 0.8em; white-space: nowrap; text-overflow: ellipsis;overflow: hidden;}
.author-level{ position:absolute; left: 105px; font-size: 0.7em; padding: 2%; }
.p-butt{
  background: none;
  border: none;
  margin: 1%;
}
.promise-like{ position:absolute; left: 145px; font-size: 0.8em; padding: 2.5%;}
.promise-like-cancel{position:absolute; left: 145px; font-size: 0.8em; padding: 2.5%;}
.promise-like-num{ position:absolute; left: 165px; font-size: 0.7em; padding: 2%;}
.promise-delete{ position:absolute; left: 178px;font-size: 0.8em; padding: 2%;}

.error-message { color: red; font-weight: bold; }

/************newroom.html******************************/
fieldset{
  display: flex;
}
textarea{border-radius: 10px;text-align: center;}
.label{
  font-weight: bold;
  font-size: 1.1em;
}
/* ============================================================== */
#join { float: right; } /* 나중에 없앨것들 */


/***********************************/
#write {
  position: absolute;
  -webkit-font-smoothing: antialiased;
  background-color:#C9D9E9;
  border: none;
  color: #fff;
  font-family:'EliceDigitalBaeum_Bold';
  right: 50px;
  box-shadow: 2px 2px 1px #b1b1b195;
  font-size: 1em;
  font-weight: 800;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  color: white;
  padding: 7px 10px 7px 20px;
  transition: all 0.1s ease-out;
  border-radius: 5px;
}
#write:hover{
  transform: scale(1.15);
}
#write:active {
    transform: scale(0.95);
  }
/*@keyframes increase {
  0% {
    border:5px solid #9dbfff;
    left:0%;
    width: 0%;
    background-color: #9dbfff;
  }
  100% {
    border:5px solid #9dbfff;
    left: 0;
    width: 90%;
    background-color: #9dbfff;
    ;
  }
} */
@keyframes hue-rotate {
      from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
      }
      to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
      }
}

