/***************profile.html꾸미기**********/
.container2 { 
  position: absolute;
  margin:0;
  left:6%;
  width: 94%;
  height: 600px;
  background:rgb(250, 250, 250);
}
.upper-profile{
  width: 90%;
  height: 20%;
  display: flex;
  margin-top:1%;
  margin-bottom:10%;
  margin-left:3%;
  font-size:1.3em;
  text-align: left;
}
.lower-profile{
  width: 90%;
  margin:3%;
  margin-top:5%;
  font-size:1.2em;
}
/*수정 form부분*/
#profile-form{
  flex-grow:1;
  margin-top:7%;
  font-size: 20px;
  width: 60%;
}
#update-profile>div{
  margin-left:10%;
  margin-right:5%;
  padding:0;
  display: flex-box;
}
#email{
  margin-bottom:2%;
}
.profile-level{
  flex-grow:1;
  display: inline;
}
.profile-level>input{
  margin-top:3%;
  margin-bottom: 3%;
  margin-left: 4.5%;
  margin-right:18px;
  border: 0px;
  width: 0.9em;
  height:0.9em;
}
#edit-nick {
  border:2px solid rgb(175, 175, 175);
  border-radius: 7px;
  width: 150px;
  text-align: center;
}
#edit-nick:focus {
  text-align: center;
  animation-name: border-focus;
  animation-duration: 2s;
  animation-fill-mode: both;
}
@keyframes border-focus {
  from {
    border-radius: 0;
  }
  to {
    border-radius: 12px;
  }
}
#edit{
  position: relative;
  margin-left: 70%;
  -webkit-font-smoothing: antialiased;
  background-color:white;
  border: none;
  box-shadow: 2px 2px 1px #b1b1b195;
  font-size: 1em;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  color: #aacdee;
  padding: 6px 10px 6px 10px;
  border-radius: 3px;
}
#edit:hover{
  background-color:#aacdee;
  color:white;
}
#edit:active {
    transform: scale(1,0.95);
  }
/*프로필 이미지 부분*/
#profile-img{
  position: relative;
  flex-grow: 1;
  width: 20%;
}
#profile-tag{
  padding-left:10%;
}
#profile-img>img{
  object-fit: scale-down;/*옆에 꽉 차게 하고 싶음 지워라*/
  position: relative;
  margin-right: 20px;
  width: 100%;
  height:100%;
  filter: drop-shadow(5px 5px 5px rgb(185, 185, 185));
}
/*나의 다짐 부분*/
#my-posts{
  margin-left: 5%;
  width: 50%;
}
#my-posts>p{
  font-weight: bolder;
  text-align: left;
  padding-left: 5px;
}
.my-post{
  width: 100%;
  height: 470px;
  overflow: auto;
}
#my-posts ::-webkit-scrollbar {
  width: 13px;
}
#my-posts ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
#my-posts ::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border: 2px solid transparent;
  border-radius: 10px;
  height: 5px;
}
#my-posts ::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4;
}
.postlike{
  border: 3px solid #c2c2c2;
  border-radius: 8px;
  box-shadow: 5px 5px 2px #c2c2c2;
  margin: 10px;
}
.post-cont{
  text-align: center;
  background-color:#d3e2f0;
  border-radius: 8px;
  word-break:break-all;
  padding: 5%;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%; 
  color:rgb(102, 102, 102);
}
.post-like{
  text-align: right;
  font-size: 0.6em;
  font-family: 'EliceDigitalBaeum_Regular';
  padding: 2%;
}
.post-like>button{
  padding-bottom: 2px;
  width: 40px;
  height: 20px;
  display: inline;
  text-align: center;
  background: none;
  border: none;
}
.post-like>i:hover{
  cursor: pointer;
}
/*level bar부분*/
.level-container{
  width: 55%;
}
.level-container>p{
  font-weight: bolder;
  text-align: left;
  padding-left: 5%;
}
.w3-light-grey{
  display: inline-box;
  height: 30px;
  width: 100%;
}
#next-level{
  border: 3px solid #c2c2c2;;
  border-radius: 8px;
  box-shadow: 5px 5px 2px #c2c2c2;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  padding:5%;
  text-align: center;
  position: relative;
}
.w3-indigo{
  height:30px;
  background-color: #afb6c3;
}
#noonsong{
  z-index: 1;
  position: absolute;
  width: 13%;
  height: 18%;
  top:22px;
  filter: drop-shadow(5px 5px 5px rgb(185, 185, 185));
}
#percent{
  display: flex;
}
#left-percent{
  text-align: left;
  flex-grow: 1;
}
#right-percent{
  text-align: right;
  flex-grow: 1;
}

#level-text{
  font-size: 1.2em;
  margin: 5%;
}
