@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

img {
  max-width: 100%;
}

body {
  background-color: #ffffff;
}

navbar .logo {
  font-size: 28px;
  color: #393e46;
  font-weight: bold;
  padding: 0 12%;
  margin-top: 32px;
}

.main {
  display: flex;
  padding: 0 12%;
  margin-top: 20vh;
  width: 100%;
}
.main .create-join {
  width: 85%;
  margin-right: 50px;
}
.main .create-join .text .head {
  font-size: 36px;
  font-weight: bold;
  color: #393e46;
}
.main .create-join .text .subtext {
  font-size: 24px;
  color: #6f6f6f;
  margin-top: 10px;
}
.main .create-join .createroom-butt {
  width: 100%;
  margin-top: 60px;
  font-size: 24px;
  font-weight: bold;
  background-color: #4ecca3;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  border: 2px solid #4ecca3;
  transition: 0.3s;
}
.main .create-join .createroom-butt:hover {
  background-color: white;
  border: 2px solid #4ecca3;
  color: #4ecca3;
  cursor: pointer;
}
.main .create-join .createroom-butt:focus {
  outline: none;
}
.main .create-join .createroom-clicked {
  width: 100%;
  margin-top: 60px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
  border: 2px solid #4ecca3;
  color: #4ecca3;
}
.main .create-join .createroom-clicked:focus {
  outline: none;
}
.main .create-join .roomcode {
  width: 100%;
  margin-top: 30px;
  font-size: 24px;
  color: #393e46;
  text-align: center;
  padding: 10px 0;
  border: none;
  border-bottom: 3px solid #232931;
  border-top: 2px solid white;
  font-weight: bold;
}
.main .create-join .roomcode:focus {
  background-color: white;
  border: 0;
  border-bottom: 3px solid #232931;
  border-top: 2px solid white;
  outline: none;
  border-radius: 0;
}
.main .create-join .roomcode-error {
  border-bottom: 3px solid #d31c1c;
}
.main .create-join .joinroom {
  margin-top: 20px;
  width: 100%;
  text-align: right;
  font-size: 24px;
  font-weight: bold;
  color: #232931;
}
.main .create-join .joinroom:hover {
  cursor: pointer;
  text-decoration: underline;
}
.main .video-cont {
  width: 100%;
  text-align: center;
}
.main .video-cont .video-self {
  height: 400px;
  width: 100%;
  background-color: #393e46;
  border-radius: 10px;
  object-fit: cover;
}
.main .video-cont .settings {
  margin: 0 auto;
  display: flex;
  margin-top: 10px;
  width: 100px;
}
.main .video-cont .settings .device {
  background-color: #4ecca3;
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  color: white;
}
.main .video-cont .settings .device:hover {
  background-color: #393e46;
  cursor: pointer;
}
.main .video-cont .settings .nodevice {
  background-color: #b12c2c;
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  color: white;
}
.main .video-cont .settings .nodevice:hover {
  background-color: #393e46;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .main {
    flex-direction: column;
  }
  .main .create-join {
    width: 100%;
    margin-right: 0;
  }
  .main .video-cont {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #393e46;
}
.overlay .box {
  width: 25%;
  margin: 0 auto;
  height: 200px;
  background-color: #ffffff;
  margin-top: 100px;
  border-radius: 10px;
  text-align: center;
}
.overlay .box .head-name {
  padding-top: 20px;
  text-align: center;
  color: #393e46;
  font-weight: bold;
}
.overlay .box .name-field {
  margin: 0px auto;
  margin-top: 20px;
  border: 0;
  font-weight: bold;
  padding: 10px;
  width: 90%;
  border-bottom: 3px solid #4ecca3;
  color: #393e46;
  height: 40px;
}
.overlay .box .name-field:focus {
  outline: none;
}
.overlay .box .continue-name {
  border: none;
  margin: 0 auto;
  margin-top: 30px;
  color: #ffffff;
  font-weight: bold;
  background-color: #4ecca3;
  padding: 12px 20px;
  border-radius: 10px;
  transition: opacity 0.5s;
}
.overlay .box .continue-name:hover {
  opacity: 0.8;
  cursor: pointer;
}
.overlay .box .continue-name:focus {
  outline: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #0f0f0f;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  font-size: 14px;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #0f0f0f transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
