@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/* library.html 전체적인 div css */
.container-room {
  height: 100vh;
  display: inline-flex; /* flex */
  flex-direction: row;
  background-color: whitesmoke;
}
/* container-left */
.container-left {
  width: 75vw;
  padding: 50px;
  text-align: center;
  position: relative;
}
/* container-right */
.container-right {
  width: 25vw;
  padding: 5px;
  background-color: #ffffff;
}
/* container-right 안에 붙는 chat-box */
/* .chat-box {
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
} */

/* 룸 코드 복사하는 곳 */
.main .roomcode {
  width: 100%;
  margin-top: 30px;
  font-size: 24px;
  color: #393e46;
  text-align: center;
  padding: 10px 0;
  border: none;
  border-bottom: 3px solid #232931;
  border-top: 2px solid white;
  font-weight: bold;
}
.main .roomcode:focus {
  background-color: white;
  outline: none;
  border-radius: 0;
}

/* whiteboard 관련 디자인 */
.whiteboard-cont {
  height: 85vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 50px;
  padding-bottom: 0;
  min-height: 600px;
}
#whiteboard {
  background-color: white;
  border-radius: 10px;
}

#colors {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  margin-top: 10px;
}
.colors-cont {
  position: absolute;
  right: 80px;
  top: 80px;
  display: flex;
  flex-direction: column;
}

.black {background-color: black;}
.red {background-color: #e74c3c;}
.yellow {background-color: #f1c40f;}
.green {background-color: #badc58;}
.orange {background-color: #e67e22;}
.purple {background-color: #9b59b6;}
.blue {background-color: #3498db;}
.pink {background-color: #fd79a8;}
.brown {background-color: #834c32;}
.grey {background-color: gray;}
.eraser {
  font-size: 26px;
  color: #2b2b2b;
}
.clearboard {
  font-size: 26px;
  color: #2b2b2b;
}

.black:hover,
.red:hover,
.yellow:hover,
.green:hover,
.orange:hover,
.purple:hover,
.blue:hover,
.pink:hover,
.brown:hover,
.grey:hover,
.eraser:hover,
.clearboard:hover,
.grey:hover {
  cursor: pointer;
}

/* 비디오 css */
.video-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 75vh;
}
.video-cont-single {
  height: 75vh;
}
.video-box {
  background-color: whitesmoke;
  height: 100%;
  min-height: 200px;
  width: 100%;
  border-radius: 5px;
  position: relative;
}
.video-frame { 
  height: 100%;
  min-height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

/* 다른 사람 이름 붙여줌 */
.nametag {
  background-color: #888;
  color: white;
  bottom: 10px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
/* 비디오끄면 나오는 video off 문구 디자인 */
.video-off {
  color: white;
  bottom: 10px;
  position: absolute;
  font-weight: bold;
  top: 40%;
  left: 0;
  right: 0;
  margin:auto;
}

.footer {
  position: relative;
}

/* utils - 비디오끄기, 화면공유, 화이트보드, 나가기, 참가자 */
.utils {
  text-align: center;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  width: 260px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
}
#util {
  text-align: center;
  margin-left: 10px;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  transition: background-color 0.3s;
}
.novideo {
  /* 배경색을 바꾸지 말고 그림자를 만들자 */
  background-color: #4ecca3;
  color: white;
}
.screenshare,
.board-icon,
.attendies {
  background-color: #d8d8d8;
  color: #393e46;
  transition: color 0.3s;
}
.cutcall {
  background-color: #cc4e4e;
  color: white;
}
#util:hover{
  cursor: pointer;
}
.novideo:hover {
  background-color: #393e46;
}
.screenshare:hover,
.board-icon:hover,
.attendies:hover,
.cutcall:hover {
  color: white;
  background-color: #393e46;
}

/* 방 url 복사하는 코드의 css */
.copycode-cont {
  position: absolute;
  top: 10px;
  left: 0;
  display: flex;
}
.roomcode {
  color: #4ecca3;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 3px solid #4ecca3;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.copycode-button {
  padding: 10px 0;
  width: 100px;
  text-align: center;
  color: white;
  background-color: #4ecca3;
  border: none;
  font-weight: bold;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.copycode-button:hover {
  cursor: pointer;
}
.copycode-button:focus {
  outline: none;
}

/* 여기부터 */
.container-right ::-webkit-scrollbar {
  width: 10px;
  height: auto; /* 스크롤바 높이 조정 다시 하기 */
}
.container-right ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.container-right ::-webkit-scrollbar-thumb {
  background: #c5c5c5;
}
.container-right ::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4;
}

/* 채팅 관련 css */
.chat-head-cont { height: 5vh; }
/* head랑 구분하려고 넣은 줄임 나중에 빼야지 */
hr{
  position: relative;
  border-top:none;
  border-bottom: 2px solid #C4C4c4; 
} 
/* 채팅창 관련 */
.chat-cont {
  background-color: #ffffff;
  height: 80vh;
  padding: 5px 10px 10px 5px;
  overflow: auto;
}
/* 채팅 전송과 내용 입력 부분 관련 */
.send-cont {
  display: flex;
  padding: 12px;
  height: 5vh;
  background-color: #ffffff;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
}
.chat{
  margin-bottom: 15px;
  word-break: break-all;
  word-wrap: break-word;
  overflow: auto;
}
/* .info .chat {
  display: flex;
  font-size: 0.85rem;
} */
/* .content{
  font-size: 1em;
  word-break: break-all;
  word-wrap: break-word;
} */
/* 참여자 목록 모달 */
.attendies-list {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;                        
}

/* mousehover chatting*/
/* class=chat-time */
.time{
  /* display: none; */
  visibility: hidden;
  position: relative;
  font-size: 0.7em;
}
.chat-mine:hover .time-mine{
  visibility: visible;
  right: 19vw;
}
.chat-other:hover .time-other{
  /* visibility: visible;
  left: 19vw; */
  visibility: visible;
  left: 19vw;
}
.chat-other{ 
  position: relative;
	background: #4ecca3;
	border-radius: .4em;
  padding: 0 1em 0.7em 1em;
  max-width: fit-content;
  text-align: left;
  float: left;
  width: 19vw;
  /* position: relative;
	background: #4ecca3;
	border-radius: .4em;
  padding: 0 1em 0.7em 1em;
  max-width: fit-content;
  text-align: left; 
  float: left;
  width: 19vw; */
}
.chat-mine{ 
  position: relative;
	background: whitesmoke;
	border-radius: .4em;
  padding: 0 1em 0.7em 1em;
  max-width: fit-content;
  text-align: right;
  float: right;
  width: 19vw;
}
.chat-system{ 
  padding: 0.7em 0 0.7em 0;
  text-align: center; 
}
#system-content{
  font-size: 14px;
}


/* 채팅 - 유저이름, 채팅 내용 css */

/* class=chat-usernick */
.usernick,
.mynick {
  font-size: 0.9rem;
  font-weight: bold;
  color: #4ecca3;
}
.othernick {
  font-size: 0.9rem;
  font-weight: bold;
  color: whitesmoke;
}
/* class=chat-chat*/
/* .chat { margin-left: 12px; } */
/* class=chat-style */
/* .content {
  margin-top: 5px;
  font-size: 1rem;
} */
/* class = send-chat */
.ci-cont {
  width: 80%;
}
/* class = send-btn */
.ci-send {
  width: 20%;
  margin-left: 20px;
}
/* class=send-chat */
.send-cont .chat-input {
  width: 100%;
  height: 36px;
  font-size: 0.85rem;
  padding: 4px 10px;
  border: none;
  border-bottom: 3px solid #4ecca3;
  color: #393e46;
}
/* 채팅칠 때 박스 감싸져 있는 박스 안보이게 해주는 css */
/* class=send-chat */
.send-cont .chat-input:focus {
  outline: none;
}
/* class=send-btn 버튼 디자인 */
.send-cont .chat-send {
  height: 36px;
  padding: 5px 20px;
  border: none;
  background-color: white;
  color: #4ecca3;
  font-weight: bold;
  font-size: 0.85rem;
  border-radius: 2px;
  transition: background-color 0.5s;
}
/* class=send-btn 버튼 호버 */
.chat-send:hover {
  color: #2980b9;
  cursor: pointer;
  background-color: #f3f3f3;
}
/* send버튼 누를 때 박스 감싸져 있는 박스 안보이게 해주는 css */
.chat-send:focus {
  outline: none;
}

/* 여기까지 */

/* utils 관련 */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #0f0f0f;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  font-size: 14px;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #0f0f0f transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */

